node_modules
test
DesignDoc.txt
exchange_address.txt
handout.tex
hardhat.config.js
make_submit.sh
package-lock.json
package.json
proj4.pdf
README.md
token_address.txt
contracts/Lock.sol
contracts/interfaces
web_app/abi-decoder.js
web_app/style.css
artifacts/contracts/interfaces
artifacts/contracts/Lock.sol